<p>This page will display information about entry number <%= params[:id] %></p>
<p> Word is <%= @entry.word %></p>
<p> Definition is: <%=@entry.definition%></p>
<p> Lamnguage is : <%= @entry.language %></p>
